<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Flask Dojo Req. Counter</title>
</head>
<body>
    <form action="/request_counter" method="GET">
    <input type="Submit" value="GET">    
    </form>
    <br>
    <form action="/request_counter" method="POST">
    <input type="Submit" value="POST">    
    </form>
    <br>
    <a href="/statistics">STATISTICS</a>
</body>
</html>